spring:
  application:
    name: ms-solicitudes
  datasource:
    url: jdbc:postgresql://postgres:5432/solicitudes_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: public
  # Deshabilitar OAuth2 que puede causar alto CPU
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.oauth2.resource.servlet.OAuth2ResourceServerAutoConfiguration

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always
  health:
    db:
      enabled: true
  security:
    enabled: false

ms-logistica:
  url: http://ms-logistica:8081

estimacion:
  velocidad-promedio-kmh: 60

google:
  maps:
    base-url: https://maps.googleapis.com/maps/api/directions/json
    api-key: AIzaSyDZkmSr76Ieg9G8kre-bwaGhB7bCO4zm_8

