server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/logistica_db
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  jackson:
    serialization:
      write-dates-as-timestamps: false

logging:
  level:
    org.hibernate.SQL: warn

google:
  maps:
    api-key: AIzaSyD9qO1p4z_S_O3cAR7c5fqbv79t4-d2BOs
    base-url: https://maps.googleapis.com/maps/api
