spring:
  application:
    name: ms-logistica
  server:
    port: 8081
  datasource:
    url: jdbc:postgresql://postgres:5432/logistica_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8090/realms/tpi-realm

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always
  health:
    db:
      enabled: true
  security:
    enabled: false

google:
  maps:
    base-url: https://maps.googleapis.com/maps/api
    api-key: AIzaSyDZkmSr76Ieg9G8kre-bwaGhB7bCO4zm_8

